@import './normalize.css';

/* :root获取更元素 */
:root {
  --color-text: #666;
  --color-high-text: #ff5777;
  /* 背景颜色 */
  --color-tint: #ff8198;
  --color-background: #fff;
  --font-size: 14px;
  --line-height: 1.5;
}
